
/* .container{
    width: 1024px;
    height: 90vh;
    background-color: white;
    border: 20px solid rgb(255, 255, 255);
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
   
  }  */
  .container__full-about {
    position: relative;
    width: 900px;
    height: 74vh;
    background: url("../../../../public/images/background-04.png");
    border-right: 20px solid black;
    border-left:  20px solid black ; 
    border-bottom: 20px solid black;
    border-top: none;
    box-shadow: 0px 0px 5px solid gray inset;
    left: 40px;
    top: 40px;
  }

  .container__full-about::before{
    content: "hola";
    position: absolute;
    width: 40px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 248, 248);
    left: -25px;
    top: -25px;
}


  .section__title{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    left: 400px;
    top: 50px;
  }

  .section__subtitle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    left: 400px;
    top: 80px;
  }

.about__container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding: 40px;
}



















.about__img{
    position: absolute;
    background:url("../../../../public/images/frame-left-04-04.png");
    background-size: cover;
    width: 255px;
    height: 306px;
    left: 70px;
    top: 93px;
}

.perf-img{
    position: absolute;
    background:url("../../../../public/images/about-imagen-perfil.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    top: 27px;
    left: 27px;
   

}

.about__data{
    position: absolute;
    background: url("../../../../public/images/frame-right-04-04.png");
    background-size: cover;
    background-color: rgba(255, 255, 255, 70%);
    right: 70px;
    top: 93px;
    width: 255px;
    height: 306px;
   
}



.about__info{
    position: absolute;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    top: 12px;
    left: 8px;
}

.about__box{
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    text-align: center;
    width: 68px;
    height: 135px;
    left: 12px;
    
    
}

.about__box i {
    position: relative;
    font-size: 18px;
    top: 8px;
    left: 1px;
    color: black;
}

.about__title{
    position: relative;
    top: 0px;
    left: 1px;
    font-size: 14px;
   
}

.about__subtitle{
    position: relative;
    top: -5px;
    left: 5px;
   
   
}

.about__description{
    position: absolute;
    top: 140px;
    left: 20px;
    width: 210px;
   
    text-align: justify;
}

.button__flex-1{
position: absolute;
  display: flex;
  flex-direction: row;
  top: 250px;
  left: 55px;
  width: 130px;
  height: 20px;
  background-color: rgb(151, 216, 238);
  color: black;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 10px;
}

.button__flex-1:hover{
    transform: translate(4px);
    transform: scale(1.12);
}

.button__icon{
    position: absolute;
    left: 120px;
    top: 0.7;
    width: 18px;
}



@media screen and (max-width: 768px) {

   
  
    .container__full-about {
      position: relative;
      width: 644px;
      height: 74vh;
   }
  
   .about__img{
    width: 255px;
    height: 306px;
    left: 182px;
    top: 93px;
   }

   .about__data{
    left: 182px;
    top: 430px;
    width: 255px;
    height: 306px;
   }

   .section__title{
    left: 260px;
    top: 50px;
  }

  .section__subtitle{
    left: 260px;
    top: 80px;
  }

  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {

    .container__full-about {
        position: relative;
        width: 452px;
        height: 140vh;
     }
    
     .about__img{
      width: 255px;
      height: 306px;
      left: 96px;
      top: 93px;
     }
  
     .about__data{
      left: 96px;
      top: 430px;
      width: 255px;
      height: 306px;
     }
  
     .section__title{
      left: 175px;
      top: 50px;
    }
  
    .section__subtitle{
      left: 175px;
      top: 80px;
    }
    
    }
  
  
  
   
  
  /* For small devices */
  @media screen and (max-width: 360px) {

    .container__full-about {
        position: absolute;
        width: 276px;
        height: 140vh;
        left: 27px;
        border: 15px solid black ;
     }
    
     .about__img{
      width: 255px;
      height: 306px;    
      left: 10px;
      top: 93px;
     }
  
     .about__data{
      left: 10px;
      top: 430px;
      width: 255px;
      height: 306px;
     }
  
     .section__title{
      left: 90px;
      top: 50px;
    }
  
    .section__subtitle{
      left: 90px;
      top: 80px;
    }
  
  
  }
    
  