/* 
.container{
  width: 1024px;
  height: 90vh;
  background-color: white;
  border: 20px solid black;
  box-shadow:  0px 0px 5px solid gray inset;
  position: relative;
  margin: auto;
 
}  */

.container__full-services {
  position: relative;
  width: 900px;
  height: 74vh;
  background: url("../../../../public/images/background-06-06.png");
  border-right: 20px solid black;
  border-left:  20px solid black ; 
  border-bottom: 20px solid black;
  border-top: none;
  box-shadow: 0px 0px 5px solid gray inset;
  left: 40px;
  top: 40px;
}

.container__full-services::before{
  content: "hola";
  position: absolute;
  width: 40px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  color: rgb(248, 248, 248);
  left: -25px;
  
}

.services__container{
  position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
    padding: 40px;
}

.services__content-fullstack{
  position: absolute;
  width: 255px;
  height: 306px;
  background: url("../../../../public/images/frame-left-06-06.png");
  background-repeat: repeat;
  left: 70px;
  top: 93px;
}

.services__content-visual{
  position: absolute;
  width: 255px;
  height: 306px;
  background: url("../../../../public/images/frame-right-06png-06.png");
  background-color: rgba(255, 255, 255, 70%);
  background-repeat: no-repeat;
  right: 70px;
  top: 93px;
 
}

.services__icon{
  position: absolute;
  display: block;
  font-size: 2rem;
  left: 110px;
  top: 30px;
  
}

/* .services__block{
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-1);
} */

.services__title{
  position: absolute;
  left: 100px;
  top: 55px;
}

.services__button{
  position: absolute;
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  cursor: pointer;
  left: 90px;
  top: 135px;
}

.services__button-icon{
  font-size: 1rem;
  transition: 0.3s;
 
}

.services__button:hover,.services__button-icon{
  transform: translateX(00.25rem);
}

.services__modal-f{
 display: none;
 position: fixed;
 top: 0px;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: initial;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 1rem;
 opacity: 0;
 visibility:hidden;
 transition: .3s;
}

.services__modal-v{
 display: none;
 position: fixed;
 top: 0px;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 z-index: initial;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 1rem;
 opacity: 0;
 visibility:hidden;
 transition: .3s;
} 

.services__modal-content-f{
  width: 300px;
  height: 300px;
  position: absolute;
  background: url("../../../../public/images/frame-left-06-modal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(247, 244, 244);
  padding: 40px 20px 40px 10px;
  top: 130px;
  left: 280px;
}

.services__modal-content-v{
  width: 300px;
  height: 300px;
  position: absolute;
  background: url("../../../../public/images/frame-right-06-modal.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(247, 244, 244);
  padding: 40px 20px 40px 10px;
  top: 130px;
  right: 280px;
}

.services__modal-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}

.services__modal-title,
.services__modal-description{
  text-align: center;
}

.services__modal-title{
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 5px;
}

.services__modal-description{
  font-size: 14px;
  padding: 0 3.5rem;
  margin-bottom: 5px;
}

.services__modal-services{
  row-gap: 0.75rem;
}

.services__modal-service{
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.services__modal-icon{
  color: black;
  font-size: 1.1rem;
}

.srvices__modal-info{
  font-size: 14px;
}

/* Active modal */

.active-modal-f{
  opacity: 1;
  visibility: visible;
}

.active-modal-v{
  opacity: 1;
  visibility: visible;
}



@media screen and (max-width: 768px) {

   
  
  .container__full-services {
    position: relative;
    width: 644px;
    height: 850px;
 }

 .services__content-fullstack{
  width: 255px;
  height: 306px;
  left: 182px;
  top: 93px;
 }

 .services__content-visual{
  left: 182px;
  top: 430px;
  width: 255px;
  height: 306px;
 }

 .section__title{
  left: 260px;
  top: 50px;
}

.section__subtitle{
  left: 260px;
  top: 80px;
}

}

/* For medium devices */
@media screen and (max-width: 576px) {

  .container__full-services {
      position: relative;
      width: 452px;
      height: 850px;
   }
  
   .services__content-fullstack{
    width: 255px;
    height: 306px;
    left: 96px;
    top: 93px;
    background-color: brown;
   }

   .services__content-visual{
    left: 96px;
    top: 430px;
    width: 255px;
    height: 306px;
    background-color: blue;
   }

   .section__title{
    left: 175px;
    top: 50px;
  }

  .section__subtitle{
    left: 175px;
    top: 80px;
  }
  
  }



 

/* For small devices */
@media screen and (max-width: 360px) {

  .container__full-services {
      position: relative;
      width: 276px;
      height: 850px;
      left: 27px;
      border: 15px solid black ;
   }
  
   .services__content-f{
    width: 245px;
    height: 306px;    
    left: 10px;
    top: 93px;
   }

   .services__content-visual{
    left: 10px;
    top: 430px;
    width: 245px;
    height: 306px;
   }

   .section__title{
    left: 90px;
    top: 50px;
  }

  .section__subtitle{
    left: 90px;
    top: 80px;
  }


}
  







