/* 
.container{
    width: 1024px;
    height: 90vh;
    background-color: white;
    border: 20px solid black;
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
   
  }  */

  .container__full-contact{
    position: relative;
    width: 900px;
    height: 74vh;
    background: url("../../../../public/images/background-08-08.png");
    border-right: 20px solid black;
    border-left:  20px solid black ; 
    border-bottom: 20px solid black;
    border-top: none;
    box-shadow: 0px 0px 5px solid gray inset;
    left: 40px;
    top: 40px;
  }

  .container__full-contact::before{
    content: "hola";
    position: absolute;
    width: 40px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 248, 248);
    left: -25px;
    
}


.contact__container{
    position: relative;
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact__content-cards{
  position: absolute;
  width: 255px;
  height: 306px;
  background: url("../../../../public/images/frame-left-08-08.png");
  background-repeat: repeat;
  left: 70px;
  top: 93px;
}


.services__icon{
    position: absolute;
    display: block;
    font-size: 2rem;
    left: 110px;
    top: 30px;
  
  }
  
  .contact__title-t{
      position: absolute;
      font-size: 20px;
      top: 10px;
      left: 90px;
    
  }
  .contact__info{
      display: grid;
      row-gap: 1rem;
      grid-template-columns: 300px;
  }
  
  
  
  .contact__card-icon-e{
      position: absolute;
      font-size: 2rem;
      top: 70px;
      left:40px;
  }
  .contact__card-icon-w{
      position: absolute;
      font-size: 2rem;
      top: 158px;
      left: 40px;
  }
  .contact__card-icon-m{
      position: absolute;
      font-size: 2rem;
      top: 226px;
      left: 40px;
  }
  
  
  
  .contact__card-title-e{
      position: absolute;
      top: 55px;
      left: 75px;
      font-size: 18px;
  }
  .contact__card-title-w{
      position: absolute;
      top: 146px;
      left: 75px;
      font-size: 18px;
  }
  .contact__card-title-m{
      position: absolute;
      top: 213px;
      left: 75px;
      font-size: 18px;
  }
  
  
  .contact__card-data-e{
      position: absolute;
      top: 95px;
      left: 75px;
  }
  .contact__card-data-w{
      position: absolute;
      top: 186px;
      left: 75px;
  }
  .contact__card-data-m{
      position: absolute;
      top: 249px;
      left: 75px;
  }
  
  
  .contact__button-e{
      position: absolute;
      top: 133px;
      left: 75px;
      background-color: rgb(187, 93, 199);
      border-radius: 10px;
      text-decoration: none;
      color: white;
      padding: 1px;
      padding-left: 6px;
      padding-right: 6px;
  }
  
  .contact__button-w{
      position: absolute;
      top: 204px;
      left: 75px;
      background-color: rgb(187, 93, 199);
      border-radius: 10px;
      text-decoration: none;
      color: white;
      padding: 1px;
      padding-left: 6px;
      padding-right: 6px; 
  }

  .contact__button-m{
    position: absolute;
    top: 267px;
    left: 75px;
    background-color: rgb(187, 93, 199);
    border-radius: 10px;
    text-decoration: none;
    color: white;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
   
}


  .contact__button-w:hover,
  .contact__button-e:hover,
  .contact__button-m:hover{
    transform: translate(2px);
    transition: 0.2s ease-in-out;
    background-color: rgb(126, 23, 139) ;
}

  

.contact__title{
    position: absolute;
    left: 100px;
    top: 18px;

}

.contact__content-form{
  position: absolute;
  width: 255px;
  height: 306px;
  background: url("../../../../public/images/frame-right-08-08.png");
  background-color: rgba(255, 255, 255, 70%);
  background-repeat: no-repeat;
  right: 70px;
  top: 93px;
 
}

.contact__title-f{
    position: absolute;
    top: 2px;
    left: 50px;
}

.contact__form-div-f{
 position: relative; 
}


.contact__form{
    position: relative;
    width: 355px;
    height: 306px;
}

.contact__form-div-name{
    position: absolute;
    top: 50px;
    left: 20px;
}
.contact__form-div-email{
    position: absolute;
    top: 100px;
    left: 20px;
}
.contact__form-div-project{
    position: absolute;
    top: 150px;
    left: 20px;
}

.contact__form-input-name{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 190px;
    height: 20px;
    border: 2px solid rgba( 0, 0, 0, 0.23);
    outline: none;
    border-radius: 0.75rem;  
}

.contact__form-input-email{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 190px;
    height: 20px;
    border: 2px solid rgba( 0, 0, 0, 0.23);
    outline: none;
    border-radius: 0.75rem;  
}
.contact__form-input-project{
    position: absolute;
    top: 20px;
    left: 10px;
    width: 190px;
    height: 70px;
    border: 2px solid rgba( 0, 0, 0, 0.23);
    outline: none;
    border-radius: 0.75rem; 
    resize: none; 
    
}

.button-send-message{
    position: relative;
    top: 260px;
    left: 55px;
    height: 25px;
    width: 150px;
    background-color: rgb(187, 93, 199);
    border-radius: 10px;
    text-decoration: none;
    border: none;
    color: white;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
}

.button-send-message:hover{
    transform: translate(2px);
    transition: 0.2s ease-in-out;
    background-color: rgb(126, 23, 139) ;
}

.button__icon-send-message{
    position: absolute;
    top: 0px;
    left: 119px;

}




@media screen and (max-width: 768px) {

   
  
    .container__full-contact {
      position: relative;
      width: 644px;
      height: 850px;
   }
  
   .contact__content-cards{
    width: 255px;
    height: 306px;
    left: 182px;
    top: 93px;
   }

   .contact__content-form{
    left: 182px;
    top: 430px;
    width: 255px;
    height: 306px;
   }

   .section__title{
    left: 260px;
    top: 50px;
  }

  .section__subtitle{
    left: 260px;
    top: 80px;
  }

  }
  
  /* For medium devices */
  @media screen and (max-width: 576px) {

    .container__full-contact {
        position: relative;
        width: 452px;
        height: 850px;
     }
    
     .contact__content-cards{
      width: 255px;
      height: 306px;
      left: 96px;
      top: 93px;
     }
  
     .contact__content-form{
      left: 96px;
      top: 430px;
      width: 255px;
      height: 306px;
     }
  
     .section__title{
      left: 175px;
      top: 50px;
    }
  
    .section__subtitle{
      left: 175px;
      top: 80px;
    }
    
    }
  
  
  
   
  
  /* For small devices */
  @media screen and (max-width: 360px) {

    .container__full-contact {
        position: absolute;
        width: 276px;
        height: 850px;
        left: 27px;
        border: 15px solid black ;
     }
    
     .contact__content-cards{
      width: 255px;
      height: 306px;    
      left: 10px;
      top: 93px;
     }
  
     .contact__content-form{
      left: 10px;
      top: 430px;
      width: 255px;
      height: 306px;
     }
  
     .section__title{
      left: 90px;
      top: 50px;
    }
  
    .section__subtitle{
      left: 90px;
      top: 80px;
    }
  
  
  }
    
  


