
/* .container{
    width: 1024px;
    height: 90vh;
    background-color: white;
    border: 20px solid black;
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
   
  }  */


  .container__full-skills {
    position: relative;
    width: 900px;
    height: 74vh;
    background: url("../../../../public/images/background-05-05.png");
    border-right: 15px solid black;
    border-left:  15px solid black ; 
    border-bottom: 15px solid black;
    border-top: none;
    box-shadow: 0px 0px 5px solid gray inset;
    left: 45px;
    top: 40px;
  }

  .container__full-skills::before{
    content: "hola";
    position: absolute;
    width: 40px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 248, 248);
    left: -25px;
    top: -25px;
}

.skills__container{
    position: relative;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

.skills__content-frontend{
 position: absolute;
 background: url("../../../../public/images/frame-left-05-05.png");
 background-size: cover;
 width: 255px;
 height: 306px;
 left: 70px;
 top: 93px;

}


.skills__content-backend{
    position: absolute;
    background: url("../../../../public/images/frame-right-05--05.png");
    background-color: rgba(255, 255, 255, 0.7);
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 255px;
    height: 306px;
    top: 93px;
    right: 70px;

}

.skills__group{
    position: absolute;
    width: 230px;
    height: 285px;
    background-color: transparent;
    top: 10px;
    gap: 1px;

}

.skills__title{
    position: absolute;
    left: 40px;
    top: 10px;
 
}

.section__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }

  .section__subtitle{
    position: absolute;
    display: flex;
    font-size: 16px;
    left: 350px;
    top: 80px;
  }

  .skills__data{
    position: relative;
    
  }

  .logo-name-h{
    position: absolute;
    left: 80px;
    top: 0px;
  }
  .logo-name-c{
    position: absolute;
    left: 80px;
    top:  50px;
  }
  .logo-name-j{
    position: absolute;
    left: 80px;
    top:  100px;
  }
  .logo-name-r{
    position: absolute;
    left: 80px;
    top:  150px;
    width: 300px;
  }
  .logo-name-m{
    position: absolute;
    left: 80px;
    top:  10px;
    width: 300px;
  }
  .logo-name-n{
    position: absolute;
    left: 80px;
    top:  50px;
    width: 300px;
  }
  .logo-name-p{
    position: absolute;
    left: 80px;
    top:  110px;
    width: 300px;
  }


  .logo-name-h i,
  .logo-name-c i,
  .logo-name-r i,
  .logo-name-j i,
  .logo-name-n i,
  .logo-name-m i,
  .logo-name-p i{
    position: absolute;
    top: 63px;
    left: -45px;
  }
    .logo-name-h h3,
    .logo-name-c h3,
    .logo-name-r h3,
    .logo-name-j h3,
    .logo-name-n h3,
    .logo-name-m h3,
    .logo-name-p h3
    {
        position: absolute;
        top: 40px;
        left: -24px;
    }



    .skills__level-h,
    .skills__level-c,
    .skills__level-j,
    .skills__level-r,
    .skills__level-n,
    .skills__level-m,
    .skills__level-p{
        position: absolute;
        top: 80px;
        left:-24px;  
    }
    

    




    @media screen and (max-width: 768px) {

   
  
      .container__full-skills {
        position: relative;
        width: 644px;
        height: 850px;
     }
    
     .skills__content-frontend{
      width: 255px;
      height: 306px;
      left: 182px;
      top: 93px;
     }
  
     .skills__content-backend{
      left: 182px;
      top: 430px;
      width: 255px;
      height: 306px;
     }
  
     .section__title{
      left: 260px;
      top: 50px;
    }
  
    .section__subtitle{
      left: 260px;
      top: 80px;
    }
  
    }
    
    /* For medium devices */
    @media screen and (max-width: 576px) {
  
      .container__full-skills {
          position: relative;
          width: 452px;
          height: 850px;
       }
      
       .skills__content-frontend{
        width: 255px;
        height: 306px;
        left: 96px;
        top: 93px;
       }
    
       .skills__content-backend{
        left: 96px;
        top: 430px;
        width: 255px;
        height: 306px;
       }
    
       .section__title{
        left: 175px;
        top: 50px;
      }
    
      .section__subtitle{
        left: 175px;
        top: 80px;
      }
      
      }
    
    
    
     
    
    /* For small devices */
    @media screen and (max-width: 360px) {
  
      .container__full-skills {
          position: absolute;
          width: 276px;
          height: 850px;
          left: 27px;
          border: 15px solid black ;
       }
      
       .skills__content-frontend{
        width: 255px;
        height: 306px;    
        left: 10px;
        top: 93px;
       }
    
       .skills__content-backend{
        left: 10px;
        top: 430px;
        width: 255px;
        height: 306px;
       }
    
       .section__title{
        left: 90px;
        top: 50px;
      }
    
      .section__subtitle{
        left: 90px;
        top: 80px;
      }
    
    
    }
      
    