
/* .container{
    width: 1024px;
    height: 90vh;
    background-color: white;
    border: 20px solid black;
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
   
  }  */


  .container__full-skills {
    position: relative;
    width: 900px;
    height: 74vh;
    background: url("../../../../public/images/background-05-05.png");
    border-right: 20px solid black;
    border-left:  20px solid black ; 
    border-bottom: 20px solid black;
    border-top: none;
    box-shadow: 0px 0px 5px solid gray inset;
    left: 40px;
    top: 40px;
  }

  .container__full-skills::before{
    content: "hola";
    position: absolute;
    width: 30px;
    height: 385px;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 248, 248);
    left: -20px;
}

.skills__container{
    position: relative;
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}

.skills__content-frontend{
 position: absolute;
 background-color: greenyellow;
 background-size: cover;
 width: 255px;
 height: 306px;
 left: 70px;
 top: 93px;

}


.skills__content-backend{
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 255px;
    height: 306px;
    top: 93px;
    right: 70px;
    background-color: greenyellow;
}

.skills__group{
    position: absolute;
    width: 230px;
    height: 285px;
    background-color: transparent;
    top: 10px;
    gap: 1px;

}

.skills__title{
    position: absolute;
    left: 40px;
    top: 10px;
 
}

.section__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
  }

  .section__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .skills__data{
    position: relative;
    
  }

  .logo-name-h{
    position: absolute;
    left: 80px;
    top: 0px;
  }
  .logo-name-c{
    position: absolute;
    left: 80px;
    top:  50px;
  }
  .logo-name-j{
    position: absolute;
    left: 80px;
    top:  100px;
  }
  .logo-name-r{
    position: absolute;
    left: 80px;
    top:  150px;
    width: 300px;
  }
  .logo-name-m{
    position: absolute;
    left: 80px;
    top:  10px;
    width: 300px;
  }
  .logo-name-n{
    position: absolute;
    left: 80px;
    top:  50px;
    width: 300px;
  }


  .logo-name-h i,
  .logo-name-c i,
  .logo-name-r i,
  .logo-name-j i{
    position: absolute;
    top: 63px;
    left: -45px;
  }
    .logo-name-h h3,
    .logo-name-c h3,
    .logo-name-r h3,
    .logo-name-j h3{
        position: absolute;
        top: 40px;
        left: -24px;
    }



    .skills__level-h{
        position: absolute;
        top: 80px;
        left:-24px;
        background-color: blue;
    }
    .skills__level-c{
        position: absolute;
        top: 80px;
        left:-24px;
        background-color: blue;
    }
    .skills__level-j{
        position: absolute;
        top: 80px;
        left:-24px;
        background-color: blue;
    }
    .skills__level-r{
        position: absolute;
        top: 80px;
        left:-24px;
        background-color: blue;
    }

    



@media screen and (max-width: 992px) {
    .skills__container{
        grid-template-columns: max-content;
        row-gap: 2rem;
    }

   
}
  
  @media screen and (max-width: 768px) {
   

}
  @media screen and (max-width: 576px) {

    .skills__container{
        grid-template-columns: 1fr;
  
    }

    .skill__content{
        padding: 1.5rem;

    }
  
  }
  
  /* For small devices */
  @media screen and (max-width: 400px) {

    .skills__box{
        column-gap: 1.5rem;
    }

    .skills__name{
        font-size: var(--small-font-size);
    }
  }
  
  