.container{
    width: 1024px;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    border: 20px solid black;
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
    
  } 

  .container__full{
    position: absolute;
    width: 900px;
    height: 74vh;
    background-color: rgb(255, 255, 255);
    border-right: 20px solid black;
    border-left: 20px solid black;
    border-bottom: 20px solid black;
    border-top: none;
    box-shadow:  0px 0px 5px solid gray inset;
    left: 40px;
    top: 40px;
  }

  .section__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .section__subtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }


.home__container{
    row-gap: 7rem;
    height: 90vh;
}


.home__content{
    display: flex;
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
    padding: 80px;
}

.home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon{
    font-size: 1.25rem;
    color: var(--title-color);
}


.home__social-icon:hover{
    color: var(--title-color-dark);
}

.home__title{
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
  font-size: 40px;
}

.home__hand{
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle{
    position: relative;
    font-size: var(--h3-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-1);
}


.home__description{
    max-width: 400px;
    margin-bottom: var(--mb-2);
    text-align: justify;
}

.home__img{
    background: url('../../../../public/images/profile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgb( 255 255 255 /30%);
    order: 1;
    justify-self: center;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50%{
        border-radius: 30% 60% 70% 74%/50% 30% 60% 40%;
    }   

    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__scroll{
    margin-left: 9.25rem;
}

.wheel{
    animation: scroll 2s ease infinite;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }

    30%{
        transform: translateY(3.75rem);
    }   

  
}

.home__scroll-button{
    background-color: none;
}

.home__scroll-name{
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow{
    font-size: 1.25rem;
    color: var(--title-color);
}


@media screen and (max-width: 992px) {
    .home__content{
        grid-template-columns: 100px repeat( 2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand{
        width: 26px;
        height: 26px;
    }
/* 
    .home__subtitle{
        margin-bottom: var(--mb-1);
    } */

    /* .home__subtitle{
        width: 100%;
        top: 0.8rem;
        margin-bottom: 20px;
    } */

   

    .home__description{
        max-width: initial;
        margin-bottom: var(--mb-2-5);
        padding: 10px;
        text-align: justify;
    }

    .home__img{
        width: 250px;
        height: 250px;
        
    }
    .home__scroll{
        margin-left: 7.5rem;
    }
  
  }
  
  /* For medium devices */
  @media screen and (max-width: 768px) {
    .home__content{
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img{
        display: flex;
        order: initial ;
        justify-self: initial;
        align-items: center;
        justify-content: center;
        margin-left:60px;
        margin-right: 110px;
    }

    .home__data{
        
        grid-column: 1/3;

    }

    .home__title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 30px;

    }

    .home__subtitle{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        margin-right: 50px;
        padding-left: none;
    }

   
    .home__subtitle::before{
        display: none;

    }
   

    .home__img{
        width: 200px;
        height: 200px;
    }

    .home__scroll{
        display: none;
    }

    
   

    
  }
  
  
  /* For small devices */
  @media screen and (max-width: 400px) {
    .home__img{
        width: 180px;
        height: 180px;
        margin-left: 60px;
        margin-right: 110px;
        
    }

    .home__hand{
        width: 22px;
        height: 22px;
    }

    .home__title{
        font-size: 30px;
    }

    .home__description{
        margin: 10px;
    }

  }
  