.app{
    position: relative;
}


.home__social {
    position: absolute;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
    gap: 32px;
    top: 140px;
   
  }  
  
  
  
  .button__content-instagram{
      position: absolute;
      width: 23px;
      height: 23px;
      margin: auto;
      background-color: rgb(180, 176, 176);
      border: rgb(180, 176, 176);
      border-radius: 20px;
      left: -20px;
      color: white;
  } 

  
  
  .button__content-likendin{
      position: absolute;
      width: 23px;
      height: 23px;
      margin: auto;
      background-color:  rgb(129, 126, 126);
      border: rgb(129, 126, 126);
      border-radius: 20px;
      left: -20px;
      top: 55px;
      color: white;
  } 
  
  .button__content-github{
      position: absolute;
      width: 23px;
      height: 23px;
      margin: auto;
      background-color: rgb(65, 63, 63);
      border: rgb(65, 63, 63);
      border-radius: 20px;
      left: -20px;
      top: 110px;
      color: white;
  } 
  
  .button__content-facebook{
      position: absolute;
      width: 23px;
      height: 23px;
      margin: auto;
      background-color: black;
      border-radius: 20px;
      left: -20px;
      top: 165px;
      color: white;
  } 
  
  .icono__red-social{
    position: absolute;
    left: 4px;
    top: 2px;
  }
  
      
      
  
  
  .button__content-facebook:hover,
  .button__content-github:hover,
  .button__content-likendin:hover,
  .button__content-instagram:hover {
    background-color: rgb(125, 161, 185);
    transform: translate(0.1rem);
  }
  
  
  