/* 
.container{
    width: 1024px;
    height: 90vh;
    background-color: white;
    border: 20px solid black;
    box-shadow:  0px 0px 5px solid gray inset;
    position: relative;
    margin: auto;
   
  }  */
  .container__full-projects {
    position: relative;
    width: 900px;
    height: 74vh;
    background: url("../../../../public/images/background-07-07.png");
    border-right: 20px solid black;
    border-left:  20px solid black ; 
    border-bottom: 20px solid black;
    border-top: none;
    box-shadow: 0px 0px 5px solid gray inset;
    left: 40px;
    top: 40px;
  }

  .container__full-projects::before{
    content: "hola";
    position: absolute;
    width: 40px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    color: rgb(248, 248, 248);
    left: -25px;
    top:  -25px;
}

.projects-container{
  position: relative;
}

.project__container-left{
    position: absolute;
    width: 255px;
    height: 306px;  
    display: flex;
    flex-direction: column;
    background: url("../../../../public/images/frame-left-07-07.png");
    gap: 2rem;
    left: 70px;
    top: 93px;
}

.project__container-right{
    position: absolute;
    width: 255px;
    height: 306px;
    display: flex;
    flex-direction: column;
    background: url("../../../../public/images/frame-right-07-07.png");
    gap: 2rem;
    right: 70px;
    top: 93px;
 
}


.project__imagen-1{ 
  position: absolute;
  width: 200px;
  height: 140px;
  align-items: center;
  justify-content: center;
  left: 28px;
  top: 28px;
}

.project__imagen-2{ 
  position: absolute;
  left: 40px;
  top: 30px;
  width: 200px;
  height: 140px;
  align-items: center;
  justify-content: center;
  left: 28px;
  top: 28px;
}

.contact__button{
  position: absolute;
  width: 78px;
  top: 175px;
  left: 74px;
  background-color: rgb(212, 139, 139);
  text-decoration: none;
  color: white;
  padding: 0px 7px 2px 18px;
  border-radius: 10px;
}

.contact__button:hover{
  
  background-color: rgb(187, 105, 105);
  
}

.project__title-project-p{
  position: absolute;
  left: 94px;
  top: 180px;
}

.project__title-project-r{
  position: absolute;
  left: 67px;
  top: 180px;
}

.project__description{
  position: absolute;
  width: 220px;
  left: 22px;
  top: 212px;
  text-align: center;
  

}



@media screen and (max-width: 768px) {

   
  
  .container__full-projects {
    position: relative;
    width: 644px;
    height: 850px;
 }

 .project__container-left{
  width: 255px;
  height: 306px;
  left: 182px;
  top: 93px;
 }

 .project__container-right{
  left: 182px;
  top: 430px;
  width: 255px;
  height: 306px;
 }

 .section__title{
  left: 260px;
  top: 50px;
}

.section__subtitle{
  left: 260px;
  top: 80px;
}

}

/* For medium devices */
@media screen and (max-width: 576px) {

  .container__full-projects {
      position: relative;
      width: 452px;
      height: 850px;
   }
  
   .project__container-left{
    width: 255px;
    height: 306px;
    left: 96px;
    top: 93px;
   }

   .project__container-right{
    left: 96px;
    top: 430px;
    width: 255px;
    height: 306px;
   }

   .section__title{
    left: 175px;
    top: 50px;
  }

  .section__subtitle{
    left: 175px;
    top: 80px;
  }
  
  }



 

/* For small devices */
@media screen and (max-width: 360px) {

  .container__full-projects {
      position: absolute;
      width: 276px;
      height: 850px;
      left: 27px;
      border: 15px solid black ;
   }
  
   .project__container-left{
    width: 255px;
    height: 306px;    
    left: 10px;
    top: 93px;
   }

   .project__container-right{
    left: 10px;
    top: 430px;
    width: 255px;
    height: 306px;
   }

   .section__title{
    left: 90px;
    top: 50px;
  }

  .section__subtitle{
    left: 90px;
    top: 80px;
  }


}
  


